body{padding:60px 0 0;background:url("../img/furley_bg.png") center}
h1{font-weight:500}
.lead{font-size:17px;}
.lead strong{font-weight:bold}
.lead a{color:#333;text-decoration:underline}
footer{margin-top:20px;padding:10px;text-align:center;background:#f5f5f5;border-top:1px solid #d5d5d5;}
footer p{display:inline-block;margin:0 20px;vertical-align:top}
section{padding:50px 0;}
section#basics{padding-top:20px}
hr{border-color:#e5e5e5}
.right{text-align:right}
.span6{position:relative}
.jadeLabel,.dataLabel,.htmlLabel{-webkit-transition:opacity .4s ease-in 1.5s;-moz-transition:opacity .4s ease-in 1.5s;-o-transition:opacity .4s ease-in 1.5s;-ms-transition:opacity .4s ease-in 1.5s;transition:opacity .4s ease-in 1.5s;opacity:0;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);filter:alpha(opacity=0);position:absolute;background-repeat:no-repeat;height:30px}
.row.annotate .jadeLabel,.row.annotate .dataLabel,.row.annotate .htmlLabel{opacity:1;-ms-filter:none;filter:none}
.jadeLabel{-webkit-transition-delay:1.4s;-moz-transition-delay:1.4s;-o-transition-delay:1.4s;-ms-transition-delay:1.4s;transition-delay:1.4s;right:10%;top:-30px;background-image:url("../img/jade.png");width:132px}
.dataLabel{-webkit-transition-delay:1.5s;-moz-transition-delay:1.5s;-o-transition-delay:1.5s;-ms-transition-delay:1.5s;transition-delay:1.5s;right:9%;bottom:-32px;background-image:url("../img/data.png");width:130px}
.htmlLabel{-webkit-transition-delay:1.6s;-moz-transition-delay:1.6s;-o-transition-delay:1.6s;-ms-transition-delay:1.6s;transition-delay:1.6s;left:9%;top:-33px;background-image:url("../img/html.png");width:146px}
textarea{text-align:left;width:91%;display:inline-block;padding:8.5px;margin:0 0 6px;font-size:15px;line-height:24px;word-break:break-all;word-wrap:break-word;white-space:pre;white-space:pre-wrap;background-color:#f5f5f5;border:1px solid rgba(0,0,0,0.15);-webkit-border-radius:4px;border-radius:4px;font-family:'Droid Sans Mono',sans-serif;color:#333;}
textarea.html{cursor:default}
textarea.error{color:#f00}
textarea.size1{height:24px}
textarea.size2{height:48px}
textarea.size3{height:72px}
textarea.size4{height:96px}
textarea.size5{height:120px}
textarea.size6{height:144px}
textarea.size7{height:168px}
textarea.size8{height:192px}
textarea.size9{height:216px}
.page-header{margin-bottom:0;border:none}
.subhead{padding-bottom:0;margin-bottom:30px}
.subhead h1{font-size:40px;margin-bottom:30px}
.subnav{width:100%;height:36px;background-color:#eee;background-repeat:repeat-x;background-image:-moz-linear-gradient(top,#f5f5f5 0%,#eee 100%);background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#f5f5f5),color-stop(100%,#eee));background-image:-webkit-linear-gradient(top,#f5f5f5 0%,#eee 100%);background-image:-ms-linear-gradient(top,#f5f5f5 0%,#eee 100%);background-image:-o-linear-gradient(top,#f5f5f5 0%,#eee 100%);background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #f5f5f5), color-stop(1, #eee));background-image:-webkit-linear-gradient(top, #f5f5f5 0%, #eee 100%);background-image:-moz-linear-gradient(top, #f5f5f5 0%, #eee 100%);background-image:-o-linear-gradient(top, #f5f5f5 0%, #eee 100%);background-image:-ms-linear-gradient(top, #f5f5f5 0%, #eee 100%);background-image:linear-gradient(top, #f5f5f5 0%, #eee 100%);border:1px solid #e5e5e5;-webkit-border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px}
.subnav .nav{margin-bottom:0}
.subnav .nav > li > a{margin:0;padding-top:11px;padding-bottom:11px;border-left:1px solid #f5f5f5;border-right:1px solid #e5e5e5;-webkit-border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;border-radius:0}
.subnav .nav > .active > a,.subnav .nav > .active > a:hover{padding-left:13px;color:#777;background-color:#e9e9e9;border-right-color:#ddd;border-left:0;-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,0.05);-moz-box-shadow:inset 0 3px 5px rgba(0,0,0,0.05);-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,0.05);box-shadow:inset 0 3px 5px rgba(0,0,0,0.05)}
.subnav .nav > .active > a .caret,.subnav .nav > .active > a:hover .caret{border-top-color:#777}
.subnav .nav > li:first-child > a,.subnav .nav > li:first-child > a:hover{border-left:0;padding-left:12px;-webkit-border-radius:4px 0 0 4px;-moz-border-radius:4px 0 0 4px;-webkit-border-radius:4px 0 0 4px;border-radius:4px 0 0 4px}
.subnav .nav > li:last-child > a{border-right:0}
.subnav .dropdown-menu{-webkit-border-radius:0 0 4px 4px;-moz-border-radius:0 0 4px 4px;-webkit-border-radius:0 0 4px 4px;border-radius:0 0 4px 4px}
@media (min-width: 980px){.subnav-fixed{position:fixed;top:0;left:0;right:0;z-index:1020;border-color:#d5d5d5;border-width:0 0 1px;-webkit-border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;-webkit-box-shadow:inset 0 1px 0 #fff,0 1px 5px rgba(0,0,0,0.1);box-shadow:inset 0 1px 0 #fff,0 1px 5px rgba(0,0,0,0.1)}
.subnav-fixed .nav{width:938px;margin:0 auto;padding:0 1px}
.subnav .nav > li:first-child > a,.subnav .nav > li:first-child > a:hover{-webkit-border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;border-radius:0}
}